body {
    font-family: 'Lexend Deca', sans-serif;
    font-style: bold;
    font-weight: 200;
    background-blend-mode: screen;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 1px;
}

button {
    border-radius: 8px;
}

.content {
    color: black;
    padding: 2px;
    text-align: center;
    text-anchor: middle;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.popup {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: fit-content;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -20px);
    background-color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s ease-in-out all;
}

.popup.active {
    animation: copyPopup 1s ease forwards;
}

@keyframes copyPopup {
    0% {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -20px);
    }
    40% {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, 0);
    }
    80% {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -20px);
    }
}