.gamemode-column {
    float: left;
    width: 33.33%;
    padding-right: 50px;
    padding-left: 50px;
}


.row {
    padding-left: 50px;
    padding-right: 50px;
}

.about-header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: gainsboro;
}

.gamemode-icon {
    height: 40px;
    background-image: url();
}

.Gamemode-header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: antiquewhite;
}

.gamemode-info {
    color: whitesmoke;
}

.server_info {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.learn_more {
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-width: 1px;
    border-color: #0d6efd;
    height: 50px;
    border-radius: .25rem;
    line-height: 1.5;
    font-size: 1rem;
}

.learn_more_txt {
    padding-right: 12px;
    padding-left: 12px;
    border-color: #0d6efd;
}

.gamemode-column :after {
    content: "";
    display: table;
    clear: both;
}


.learn_more:hover {
    background-color: #0d6efd;
    color: honeydew;
}
